# macOS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Generated
next-env.d.ts
src/types/database.types.ts
tsconfig.tsbuildinfo

# Logs
*.log
npm-debug.log*

*.tmp
*.swp
